DB_PASSWORD = example123
DB_NAME = example_db
DB_USERNAME = example_user
DB_PORT = 5432
DB_HOST = localhost

PORT = 3000
HOST_API = http://localhost:8000/api
JWT_SECRET = example_secret123

DISCORD_CLIENT_ID =
DISCORD_CLIENT_SECRET =
DISCORD_CALLBACK_URL = http://localhost:8000/auth/discord/callback

MEILISEARCH_HOST = http://localhost:7700
MEILISEARCH_API_KEY = masterKey
